#events-modal.modal{style: "display: none;"}

:coffeescript
  update_filter_modal = (url) ->
    $.ajax(
      dataType: "html",
      url: url,
      success: (data) ->
        $('#events-modal').modal('show')
        $('#events-modal').html(data)
      error: () ->
        location.reload(true)
    )
    
  $('.show_filter_modal').on 'click', -> 
    update_filter_modal(this.dataset['url'])
     
  $("#events-modal").draggable({
    handle: ".modal-header"
  }); 
  
