- if ENV['SHOW_INTEL_LOGO']
  .brand
    = image_tag "intel-header-logo.svg", height: 18, alt: 'Intel'
    - if ENV['SHOW_DEV_LOGO'] or (not Rails.env.production?)
      = image_tag "dev.svg", height: 18, alt: 'DEV'
